{% extends 'book_base.html' %}


{% block body%}

<div class="banner">
    <h1>Welcome!</h1>
</div>
<div class="testbox">
    <form action="/" method="POST">
        <div class="btn-block">
            <p>Predict the value of your house</p>
            <button type="submit" value="predict" name="button" href="/predict">Predict </button>
        </div>
    </form>
    <form action="/" method="POST">
        <div class="btn-block">
            <p>Update the model</p>
            <button type="submit" value="update" name="button" href="/">Update </button>
        </div>
    </form>
</div>


{% endblock %}